<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EditCampground</title>
</head>

<body>
  <h1>Edit  Route:</h1>
  <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" placeholder="Title" name="campground[title]" value="<%= campground.title %>">
    </div>
    <div>
      <label for="location">Location</label>
      <input id="Location" type="text" placeholder="location" name="campground[location]" value="<%= campground.location %>">
    </div>
    <button>Update Campground</button>
    <p><a href="/campgrounds/<%=campground._id %>">Back To  Campgrounds</a></p>

  </form>
</body>

</html>